NEXT_PUBLIC_SUPABASE_URL=https://xxodjnyvycxtkgtyuyfe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4b2Rqbnl2eWN4dGtndHl1eWZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTQwMzgwNTcsImV4cCI6MjAwOTYxNDA1N30.DiREDiwWpge3JzRm5IdnbvhBDcrFcHksvqF_TU6wMag
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4b2Rqbnl2eWN4dGtndHl1eWZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5NDAzODA1NywiZXhwIjoyMDA5NjE0MDU3fQ.evOplUwdXEy1yoVbD71kT-V7WPk8JDnkV2BgrWCCwH0